.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/
volley/
volley/build/
volley/gradle/
IMKit/build/
IMKit/IMKit.iml
listener/listener.iml
vitamio/vitamio.iml